{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GA Feature Selection Project{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">  
</head>

<body class="min-h-screen flex flex-col items-center p-4 sm:p-8 app-body"> 
    
    <header class="w-full max-w-4xl py-4 mb-8">
        <h1 class="text-4xl font-extrabold text-center text-gray-800">
            BIA601 - Genetic Algorithm Feature Selection
        </h1>
        <nav class="mt-4 flex justify-center space-x-4">

            <a href="{% url 'analysis:home_view' %}" class="btn-nav-home">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.15-.439 1.59 0L21.75 12m-4.5 9h-6m3-3h-3m3 3v-3m-6 3h-3m3 3v-3m0-9h-9m12 9v-9m6 9v-9"/>
                </svg>
                Home
            </a>

            </nav>
    </header>

    <main class="w-full max-w-4xl flex-grow">
        <div class="p-4 sm:p-6">
            {% block content %}
                <p class="text-center text-gray-500">Welcome to the application.</p>
            {% endblock %}
        </div>
    </main>

    <footer class="w-full max-w-4xl mt-8 pt-4 border-t border-gray-200 text-center text-sm text-gray-500">
        &copy; 2025 Genetic Algorithm Feature Selection Platform
    </footer>
    
    </body>
</html>